@{
    ViewBag.Title = "Home Page";
}
<section class="container-fluid">
    <div class="panel panel-warning">
        <div class="panel-heading">
            <div class="container-fluid">
                <div class="col-md-7">
                    <h1>League Of Legends Black Market Champion Statistics</h1>
                </div>
                <div class="col-md-3">
                    <input ng-show="isActive('champ')" type="text" ng-model="searchChampions" class="form-control" />
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
            </div>
            <div class="row">
                <ul class="nav nav-tabs">
                    <li role="presentation" ng-class="{ active: isActive('champ') }" ng-click="setActiveTab('champ')"><a href="#">Champion Stats</a></li>
                    <li role="presentation" ng-class="{ active: isActive('overall') }" ng-click="setActiveTab('overall');"><a href="#">Overall Stats</a></li>
                </ul>
                <div class="col-md-12" ng-show="isActive('champ')">
                    <champion-table></champion-table>
                </div>
                <div class="col-md-12" ng-show="isActive('overall')">
                    <stats-table></stats-table>
                </div>
            </div>
        </div>
    </div>
</section>
